/* Overlay style */
.overlay-menu {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(104, 210, 195, 0.8);
}

/* Overlay closing cross */
.overlay-menu .overlay-close {
	width: 25px;
	height: 25px;
	position: absolute;
	right: 20px;
	top: 15px;
	overflow: hidden;
	border: none;
	background: url(../resources/img/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.overlay-menu nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay-menu ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.overlay-menu ul li {
	display: block;
	height: 20%;
	height: calc(100% / 13);
	min-height: 54px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.overlay-menu ul li a {
	font-size: 25px;
	font-weight: 300;
	display: block;
	color: #fff;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay-menu ul li a:hover,
.overlay-menu ul li a:focus {
	color: #e3fcb1;
}

/* Effects */
.overlay-simplegenie {
	visibility: hidden;
	-webkit-transform: translateY(60%) scale(0);
	transform: translateY(60%) scale(0);
	-webkit-transition: -webkit-transform 0.4s, visibility 0s 0.4s;
	transition: transform 0.4s, visibility 0s 0.4s;
}

.overlay-simplegenie.open {
	visibility: visible;
	-webkit-transform: translateY(0%) scale(1);
	transform: translateY(0%) scale(1);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	z-index: 999;
}

@media screen and (max-height: 30.5em) {
	.overlay-menu nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay-menu ul li {
		min-height: 34px;
	}
}

.menu {
	position: fixed;
	z-index: 999;
	  width: 100%;
  background: rgba(104, 210, 195, 1);
  left: 0;
  height: 55px;
}

.container-menu {
	width: 1170px;
	margin: auto;
}